<table>
	<tbody>
		<tr>
			<td><strong>Markdown-Zeichen</strong>
			</td>
			<td><strong>HMTL-Code</strong>
			</td>
		</tr>
		<tr>
			<td>#</td>
			<td>Eine h1-Überschrift wird durch eine Raute (gefolgt von einem Leerzeichen) eingeleitet</td>
		</tr>
		<tr>
			<td>##</td>
			<td>Eine h2-Überschrift wird durch eine Raute (gefolgt von einem Leerzeichen) eingeleitet</td>
		</tr>
		<tr>
			<td>* </td>
			<td>Ein Stern (mit einem Leerzeichen dahinter) am Anfang einer Zeile beginnt eine Auflistung (Jedes Element einer Liste wird mit einem Stern gekennzeichnet)</td>
		</tr>
		<tr>
			<td>**fetter_text**</td>
			<td>Ein fett geschriebener Text wird mit zwei Sternen (**) eingeleitet und wieder beendet.</td>
		</tr>
		<tr>
			<td>*kursiver_text*</td>
			<td>Kursiv geschriebener Text wird mit einem Stern eingeleitet und einem Stern beendet (*)</td>
		</tr>
		<tr>
			<td>&gt;</td>
			<td>Ein Zitat wird durch ein &gt; am Zeilenanfang eingeleitet</td>
		</tr>
		<tr>
			<td>Leerzeile</td>
			<td>Ein Paragraph wird durch eine Leerzeile zwischen Textblücken angegeben.</td>
		</tr>
	</tbody>
</table>